{% extends 'core/base.html' %}

{% block title %} {{ category.title }} | {% endblock %}

{% block content %}
<section class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
        <section class="py-8">
            <div class="grid grid-cols-1 gap-8 max-w-4xl mx-auto">
                {% for post in posts %}
                    <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow duration-300">
                        <a href="{% url 'post_detail' post.category.slug post.slug %}" class="block">
                            <p class="text-sm text-gray-500">
                                {{ post.created_at|timesince }} ago
                            </p>
                            <h2 class="text-2xl font-semibold text-gray-800 mt-2">
                                {{ post.title }}
                            </h2>
                            <p class="text-gray-700 mt-4">
                                {{ post.intro }}
                            </p>
                        </a>
                    </div>
                {% empty %}
                    <div class="text-center text-gray-500">
                        <p>There is no post in this category...</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</section>
{% endblock %}
